// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
	margin-top: 20px;
}

.video-list-wrapper {
	max-height: 160px;
	overflow: auto;
	padding-top: 15px;
	ul {
		background: $blue;
	}
}